[2014-01-31 02:02] boonebgorges opened #1 "Don't allow required components to be deactivated"

[2014-04-25 14:38] tw2113 opened #3 "Request: List of pending commands/ideas"
I'd be interested in attempting adding some functionality, but I don't know what you have in mind, if anything.

[2014-08-23 12:18] slaFFik opened #6 "Update Readme with the list of commands etc"
Hello Boone,

Is it possible to have an updated version of readme of your package?

[2014-08-25 20:53] #6 closed, assigned to nobody

[2015-01-04 16:14] Mamaduka opened #7 "Some minor fixes to groups commands."
Currently `bp group add_member` triggers PHP errors, which stops script from execution.

Also it will be good do update `get_user_id_from_identifier()` to mimic `WP_CLI` user fetcher - https://github.com/wp-cli/wp-cli/blob/master/php/WP_CLI/Fetchers/User.php#L21. This method is used only in two commands groups and xprofile, where we need full user object.

[2015-01-08 21:25] boonebgorges commented on #7
Thanks!

[2015-01-08 21:25] #7 closed

[2016-04-08 21:16] danielbachhuber opened #8 "Consider adding functional tests to this project"
Functional tests are an integral ingredient of highly-quality, maintainable commands. WP-CLI tries to make it as easy as possible to add functional tests to your package with its `wp scaffold package-tests` command:

https://github.com/wp-cli/scaffold-package-command#wp-scaffold-package-tests

I'd encourage you to consider adding functional tests to your package :) By starting your functional test

[2016-07-15 05:02] renatonascalves opened #10 "More fields to created/generated members"
I'll be working on this. For now, I'll add those fields below.
- Name
- E-mail

[2016-07-15 05:05] renatonascalves opened #11 "More control of how many users are created"
I'll be working on this.

Allow certain number of users to be created by.

`wp bp member create --quantity=55`

or

`wp bp member generate --quantity=55`

[2016-07-15 05:13] renatonascalves opened #12 "Component activation error because of wrong file name checking"
I'm preparing a PR for this, but here follows the error:

wp bp core activate groups

Warning: require_once(/vagrant/www/bp-rest/htdocs/wp-content/plugins/buddypress//bp-core/admin/bp-core-schema.php): failed to open stream: No such file or directory in /home/vagrant/.wp-cli/packages/vendor/boonebgorges/wp-cli-buddypress/components/core.php on line 41

This file, https://github.com/boonebgorges/wp

[2016-07-15 05:15] renatonascalves commented on #12
Btw, the error is show, but it activates the component...

[2016-07-15 12:20] boonebgorges commented on #11
Excellent. The WP-CLI convention is to use `--count`, so that may be better.

On 07/15/2016 12:05 AM, Renato Alves wrote:

[2016-07-20 21:57] #12 closed

[2016-08-07 23:42] renatonascalves commented on #3
Adding to the list:

`wp bp group generate`

The same way others work.

[2017-03-31 14:10] adriantoll opened #16 "Call to undefined function dbDelta() when activating components"
For example, trying the command `wp bp core activate settings` results in this error message:

[code]

Despite this, the component is successfully activated.

I'm on pretty much the latest version of all relevant packages, and have an up-to-date Homebrew environment:

WordPress 4.7.3
WP-CLI 1.1
wp-cli-buddypress 1.1.1
Apache 2.4.25
PHP 7.0.17
MySQL 5.7.17.

[2017-03-31 23:11] boonebgorges commented on #16
Thanks very much for reporting this. I'll try to have a look at it next
week.

On 03/31/2017 09:10 AM, Adrian Toll wrote:

[2017-04-05 07:30] WTurunen opened #17 "get_user_id_from_identifier return wrong value"
In `component.php:43`, `get_user_id_from_identifier($i)` uses `$i` parameter to retrieve `$user_id`.

It doesn't however do anything with `$user_id` but returns `intval($i)`.

Probably a bug?

[2017-04-12 16:16] #16 closed

[2017-04-12 16:19] boonebgorges commented on #17
Thanks very much for the report. This was fixed in b8bb2e2f19fa945fa42488a3eeb5409a07afb5dc.

[2017-04-12 16:19] #17 closed

[2017-06-07 10:36] adriantoll opened #18 "Fatal error: Class 'WP_CLI\CommandWithDBObject' not found"
I'm getting this error message:

`Fatal error: Class 'WP_CLI\CommandWithDBObject' not found in /Users/adriantoll/.wp-cli/packages/vendor/boonebgorges/wp-cli-buddypress/component.php on line 8`

It seems to be with any `wp` command, so not strictly related to any `wp bp` commands.

I think it may be related to a `brew upgrade` that I ran recently, as wp-cli was upgraded, and the problem started occ

[2017-06-07 22:01] boonebgorges commented on #18
Thanks for reporting this, @adriantoll.

@danielbachhuber Would you mind advising on how to fix this? The command extends `\WP_CLI\CommandWithDBObject`, which I see is now found in `wp-cli/entity-command`. I guess this means I need to add this package as a requirement in my composer.json? This alone doesn't seem to be enough - the classes aren't being autoloaded (in the right order, at least). Sor

[2017-06-07 22:11] danielbachhuber commented on #18
#19 will do the trick for the near term.

I don't understand Composer either!

@schlessera Any ideas why the class resolution isn't working as expected?

[2017-06-07 22:57] boonebgorges commented on #18
In this specific case, it's probably because I'm not bootstrapping `vendor/autoload.php` :-P But this is because I've had problems in the past with running the Packagist, built version vs the dev version, which in turn is probably because I don't understand how Composer works. It would be very cool to have some canonical docs and/or scaffolding for CLI commands that require other commands.

[2017-06-08 06:03] schlessera commented on #18
The problem you're facing is that you're immediately including your class files (that depend on `WP_CLI\CommandWithDBObject`), which happened to work because the timing was correct, as `WP_CLI\CommandWithDBObject` was included in the main `wp-cli/wp-cli` package. But that timing has now changed.

When we extracted the commands out of `wp-cli/wp-cli`, one of the goals was that bundled commands can

[2017-06-11 16:38] r-a-y commented on #18
Just ran into this issue myself.

PR #19 fixes this for me.

[2017-07-06 17:25] corsacca opened #20 "Creating a group with creator-id does not work."
`wp bp group create --name=testgroup1 --creator-id=11`
The default user (1) is used no matter matter what i put in creator-id=
If i change the code to use creator_id instead it seems to work.
I forked it to test example the changes:
https://github.com/corsacca/wp-cli-buddypress/commit/217f874c58c070cccf9f326c6ba456ed18b9821e

[2017-07-06 17:58] boonebgorges commented on #20
Thank you for the report. Would you mind sending a pull request?

[2017-09-14 13:02] renatonascalves commented on #3
`wp bp delete activities`
or
`wp bp delete $(wp bp list activities)`

 Just wished right now that was possible! :(

[2017-09-19 23:18] renatonascalves commented on #18
@boonebgorges Can you merge this pull request #19? It's breaking the package.

[2017-09-19 23:46] renatonascalves commented on #1
PR, #23, added!

[2017-09-20 00:05] renatonascalves commented on #11
I was looking now that that's the default behavior already. So closing this issue!

I think when I opened this, it was not possible or it was but I hadn't checked it.

[2017-09-20 00:05] #11 closed

[2017-09-20 00:08] renatonascalves commented on #10
Closing this one. I don't remember the use case.

[2017-09-20 00:08] #10 closed

[2017-09-20 15:11] #18 closed

[2017-09-20 15:11] #20 closed

[2017-09-20 15:14] #1 closed

[2017-09-22 22:53] renatonascalves commented on #8
I added the base files for testing. I'll be adding the tests going component by component slowly.

My focus now will be on more pending commands from #3. I'll try to add the new commands already with tests. :)

[2017-09-23 02:11] renatonascalves commented on #3
Support for `wp bp group generate` was added https://github.com/buddypress/wp-cli-buddypress/commit/b4241d836de6039ddee4ac1fccae40d626f7aba2

[2017-10-01 02:49] renatonascalves opened #28 "Add Travis Support"
I don't have the necessary rights to add this support. So if anyone with the rights could do that, that would be much appreciated. :)

[2017-10-01 02:50] renatonascalves commented on #28
Pinging just so that you are aware! @JJJ, @boonebgorges  or @danielbachhuber

[2017-10-02 10:10] ntwb commented on #28
Yo, @paulgibbs can you flick the switch for this repo please :)

[2017-10-02 10:30] paulgibbs commented on #28
Done, let me know if you need anything else

[2017-10-02 13:37] renatonascalves commented on #28
Thank you @ntwb and @paulgibbs. Appreciate it! :)

[2017-10-02 13:37] #28 closed

[2017-10-11 22:30] renatonascalves commented on #8
I'm owing this as I'll be adding the behat tests.

[2017-10-15 14:43] renatonascalves commented on #3
All the commands were added, with the exception of the import/export tools. As the development of it hasn't started yet.

[2017-11-03 18:58] boonebgorges opened #33 "Require confirmation for irreversible delete operations"
Most BP delete operations are irreversible, and some of them have cascading effects. For example, deleting a group also deletes group memberships, and may delete some group content depending on plugins. In these cases, I think it makes sense to require confirmation, which could then be bypassed with the `--yes` flag.

[2017-11-05 22:14] boonebgorges commented on #8
@renatonascalves A question about this. It appears that the Behat tests don't actually work, because we don't yet have the concept of a 'BP install'. Does this mean that the tests you've committed are basically untested, but that they *ought* to work? I've already spent some time getting the Behat setup to work properly, and I'll try to work on it more in the upcoming days, but I want to be sure I

[2017-11-06 01:13] renatonascalves commented on #8
@boonebgorges You are right! The behat's tests are not passing because "behat" don't "see" BuddyPress. They ought to pass when the setup is working properly.

Unfortunately, I tried I few times without success. If you could make it work, that would be wonderful. :)

[2017-11-06 16:39] boonebgorges commented on #8
@renatonascalves I've got a version of this working. See 1a98714.

The existing tests will need to be reworked. A few things:

- `Given a WP install` should be `Given a BP install`
- Make sure you have defined a `BP_SRC_DIR` environment variable locally. `$ export BP_SRC_DIR=/path/to/buddypress/src/`
- To reduce the overhead of setting up many fixtures, let's test CRUD operations in a similar way

[2017-11-06 17:21] renatonascalves commented on #8
@boonebgorges Fantastic! I'd rather you do it! I can see what improvements you make and steal/use it in the other components and on wp-cli-bbpress as well.

[2017-11-07 03:29] boonebgorges commented on #8
I've pushed up tests for CRUD operations in the three `xprofile` subcommands. Let's work on cleaning up remaining tests as we move through. I'll leave this ticket open as a point of reference for questions.

[2017-11-07 11:57] renatonascalves commented on #8
@boonebgorges  Got it! [But the tests are not passing](https://travis-ci.org/buddypress/wp-cli-buddypress/jobs/298353178) There is something wrong.

[2017-11-07 13:30] boonebgorges commented on #8
I haven't done any work to fix Travis yet. That's another set of problems.

[2017-11-08 04:12] boonebgorges opened #34 "`signup activate` should not require activation key"
Speaking as someone who has had to manage large BP installations, I've had to manually activate many signups. I even wrote a plugin for it https://wordpress.org/plugins/unconfirmed/ :) Yet rarely has the activation process started with a *key*. Usually the user reports her login or email address. It's only when doing development that I've had a need for a CLI command that activates by key.

Let's

[2017-11-08 04:14] boonebgorges commented on #34
Whatever system we adopt here, we should also adopt for `signup resend`.

[2017-11-08 13:02] renatonascalves commented on #34
I like the idea. When I first introduced the signups commands, at first it crossed my mind it would be very hard for people to add it because they would need to fetch the `activation_key` first. Regardless of that thought, I guess I decided on being strict in the required information. But I agree it will be a hassle.

[2017-11-08 13:44] boonebgorges commented on #34
Cool, thanks! I'll write something and send a PR for you to review.

[2017-11-08 14:02] renatonascalves commented on #8
I'm closing this as it is working correctly! Right now it is just a matter of adding the tests for the left PRs and making sure it gets green.

Thank you for your work on making this possible @boonebgorges 💃

[2017-11-08 14:02] #8 closed

[2017-11-08 14:08] boonebgorges commented on #8
@renatonascalves Glad it's working now!

Let's now have a policy that items should only be merged into master when all tests are passing. I'll do my best to get the build green again after this morning's commits.

[2017-11-08 15:03] renatonascalves commented on #8
@boonebgorges Works for me!

[2017-11-11 03:13] renatonascalves commented on #34
Closing this issue as it was introduced on #35

[2017-11-11 03:13] #34 closed

[2017-11-11 03:28] renatonascalves commented on #33
I've reviewed all delete/remove operations, both on master and on the current branches, and they have proper support for the confirmation message.

I'm closing this issue! Feel free to reopen it. :)

[2017-11-11 03:28] #33 closed

[2017-11-12 15:56] renatonascalves opened #36 "Use proper PSR-4 naming for CLI classes"
While reviewing the recent code from wp-cli-buddypress, @boonebgorges [suggested](https://gist.github.com/boonebgorges/7c5f780f72170afbb76d08b2ffda7783) this would be a very good opportunity to use proper PSR-4 naming for CLI classes.

As wp-cli-buddypress probably will be merged into BP core in the near future, it would be used as a start, setting the example for the whole BP project to use PSR-4

[2017-11-16 16:41] boonebgorges opened #37 "Single group functions don't actually take slug as identifier arg"
Despite what we say in the documentation.

[2017-11-16 16:45] #37 closed

[2017-11-17 22:42] boonebgorges opened #38 "`activity list` should allow for filtering"
The natural syntax (to me at least) seems like this:

`wp bp activity list --user-id=5` - items with 5 as user_id
`wp bp activity list --user-id=5 --component=groups` - items with ( user_id = 5 && component = group )

There wouldn't be an OR syntax (though perhaps you could have comma syntax like `--component=groups,activity` for single params), but as an administrator, OR queries are less useful

[2017-11-18 01:40] renatonascalves commented on #38
@boonebgorges I like the idea. It makes it easier for the user to fetch what it needs. The current approach is mirroring to much on the `bp_activity_get()` and not on how the user will be listing them.

[2017-11-19 17:54] renatonascalves opened #39 "Import/Export Commands"
An issue to keep track of this request from #3.

[2017-11-19 17:55] renatonascalves commented on #3
Moved the conversation for the last request into #39.

Closing this as the commands were introduced. :)

[2017-11-19 17:55] #3 closed

[2017-11-19 18:39] boonebgorges opened #40 "Friend commands"
I'd suggest:

* `wp bp friend list <user-id>`, possibly with flags like `--pending`
* `wp bp friend add <user-id-1> <user-id-2>`, which would take some sort of arguments for skipping the invitation process
* `wp bp friend check <user-id-1> <user-id-2>` - I would call this "get" but "get" usually implies that the first argument will be an item ID, but the friendship ID is not really a useful ID in

[2017-11-29 20:40] boonebgorges opened #42 "`list` commands should have sensible defaults for count"
`wp bp signup list` shows only a single signup. This is because the default value for `number` in `BP_Signup::get()` is 1. This is confusing.

We should come up with some consistent conventions for default `list` counts, as well as the name of the parameter - BP goes between `count`, `max`, `per_page`, `number`, etc. How does WP-CLI do this?

[2017-11-29 22:42] renatonascalves opened #43 "Add bp version to the readme requirements section"
We are using the latest version of BuddyPress, trunk.

[2017-11-29 22:44] renatonascalves opened #44 "Remove custom code from add_user_favorite"
[#7623](https://buddypress.trac.wordpress.org/ticket/7623) was merged into BuddyPress. Now we can remove our custom function.

[2017-11-29 22:52] #44 closed

[2017-11-29 22:56] boonebgorges commented on #44
The next release of wp-cli-buddypress will require BP 3.0 - this will have to be indicated somewhere

[2017-11-29 22:58] renatonascalves commented on #44
Can I on the changes made on #43?

[2017-11-29 23:00] renatonascalves commented on #42
No idea! I'm going to see if there is any "pattern" on WP-CLI.

[2017-11-29 23:01] boonebgorges commented on #44
Yes, but we should be clear about the important distinctions:

- it's OK to say that the development version requires BP trunk
- but releases should support a stable version of BP

[2017-12-04 01:27] renatonascalves opened #45 "Generate command for default data, for testing"
I feel a generate command should be added for testing. I think it is very useful for me, and others, to populate the site with default information.

We could create a `generate` command for each component or a single generate command to install and populate default data.

I'd love some feedback on the necessity of this and how we could approach it. :)

[2017-12-04 03:28] boonebgorges commented on #45
I think this'd be fine, but I'd want to make sure that test data is recorded as such (eg `groups_add_groupmeta( $group_id, 'bp_is_test_data', 1 )`, and then have a corresponding command for removing test data.

There are already `generate` commands for a couple components. Adding the command for other components seems like a good idea. Whether there's a single command that does test data for *all*

[2017-12-07 14:01] renatonascalves opened #46 "Update BP_Signup::get after #7461"
When https://buddypress.trac.wordpress.org/ticket/7641 is merged, update `BP_Signup::get` removing the `wp_list_pluck` hack.

[2017-12-16 22:43] renatonascalves commented on #38
@boonebgorges Can you take a look at the commit above? Feedback welcome!

[2017-12-17 14:40] renatonascalves commented on #42
After looking at WP-CLI, I can only see the `count `word being used. And for consistency, we could keep the same.

[2017-12-17 15:13] renatonascalves opened #47 "'List' command to the Core component"
Mainly list the components to know which is active and which one is not.

[2017-12-18 16:56] boonebgorges commented on #38
Yeah, this is definitely moving in the right direction!

I would lean toward removing the `get_user_id_from_identifier()` check for `user-id`. It's often valuable to be able to search for items created by user_id = 0, or by a user that has been deleted. This would mean that we can't (easily) accept user login, but I don't see that as a huge loss. That being said, perhaps my own use of this tool is

[2017-12-18 23:55] renatonascalves commented on #38
@boonebgorges Updated and support to the other filter options added. ^

Let me know what you think. :)

[2017-12-20 18:13] boonebgorges commented on #38
Love it! Thanks!

[2017-12-20 18:13] #38 closed

[2017-12-24 22:05] renatonascalves opened #48 "Messages commands"
What about the messages commands? Any value in having commands such as:

`wp bp message list --user_id=10`

My suggestions:

- [x] wp bp message add/create
- [x] wp bp message delete
- [x] wp bp message list
- [x] wp bp message get
- [x] wp bp message star
- [x] wp bp message generate (for testing)

[2017-12-24 22:13] renatonascalves commented on #42
I just noticed the last change is wrong. I'll be fixing it shortly!

[2017-12-25 14:39] renatonascalves commented on #48
Thinking about it, I find it really odd for people to add or star messages via CLI. I guess `generate `for testing, `list `and `delete `could be the useful ones.

[2017-12-28 14:52] boonebgorges commented on #48
For completeness, I think it'd be nice to have full functionality (including `add` and `star`) but I agree it's not super important.

[2017-12-30 21:20] renatonascalves commented on #48
Commands for the message component being added here #49 for feedback. :)

[2018-01-07 18:08] renatonascalves commented on #47
@boonebgorges When you have a change, can you review #50? I already requested it! :)

[2018-01-10 12:55] renatonascalves commented on #46
https://buddypress.trac.wordpress.org/ticket/7641 was merged just now! :)

[2018-01-10 12:55] #46 closed

[2018-01-12 02:06] renatonascalves commented on #47
Feature introduced! :)

[2018-01-12 02:06] #47 closed

[2018-01-12 02:14] #43 closed

[2018-01-12 02:16] renatonascalves commented on #42
Fixed! ^

[2018-01-12 02:25] renatonascalves opened #52 "Internationalize package"
This is more of a question rather than a suggestion. If the goal is to add this package on BuddyPress core, do we need to internationalize the strings?

I'd say yes. What are your thoughts @boonebgorges?

[2018-01-12 02:30] renatonascalves commented on #45
After some thought, I think this might not have a use case. My first reason for doing this was when I decided to create a similar command to wp-cli-bbpress. On bbPress it made more sense as we can't have forums without topics and without replies.

On BuddyPress, this is a different matter. We can make use of some components and deactivate others. So creating a global command to populate everything

[2018-01-12 02:30] #45 closed

[2018-01-12 02:32] renatonascalves commented on #36
I'm moving this to a future version, after 1.6.

[2018-01-16 14:16] paulgibbs commented on #52
Yes.

It's going to be painful to check but if there are any existing strings in BuddyPress that we can re-use here, to save adding new phrases, that'd be wonderful. I guess the easiest way to do this is generate a POT from this code, and then get a list of strings from that, and manually try to find something close on GLotPress etc

[2018-01-17 13:31] boonebgorges commented on #52
Are we certain that WP internationalization works within WP-CLI commands?

[2018-01-19 02:19] renatonascalves commented on #52
I'm not sure! I presume it works. :/

[2018-01-19 02:24] boonebgorges commented on #52
I ask because of comments like this: https://wordpress.slack.com/archives/C02RP4T41/p1511796963000358

[2018-01-19 03:59] renatonascalves commented on #52
There it is! Thank you for confirming Boone!

[2018-01-19 03:59] #52 closed

[2018-01-19 13:35] renatonascalves commented on #52
Guys! https://github.com/wp-cli/handbook/issues/193

[2018-01-29 15:29] renatonascalves commented on #40
Closing this as it was introduced at #53 .

[2018-01-29 15:29] #40 closed

[2018-01-29 15:30] #48 closed

[2018-01-29 15:33] renatonascalves opened #54 "Avoid breakage on the generate commands"
More info: https://github.com/buddypress/wp-cli-buddypress/pull/53#discussion_r164308028

[2018-01-29 16:06] renatonascalves opened #55 "Turn --silent into a flag"
Update the `--silent` into a flag in all the commands.

[2018-01-29 16:08] renatonascalves opened #56 "Remove user check duplication all over the packages"
This check is done all over the package. Let's remove them.

`if ( ! $user ) {
  WP_CLI::error( sprintf( 'No user found by that username or ID (%s).', $i ) );
}`

[2018-01-29 16:09] #56 closed

[2018-01-29 16:27] #55 closed

[2018-01-29 16:27] #54 closed

[2018-02-14 22:01] paulgibbs opened #59 "core merge"
From my perspective, this is almost ready to go into BP core, but:

1. I'm unhappy about the random functions: get_random_user_id() get_random_group_id() get_random_login() generate_random_text(). I think WPCLI's "generate" dummy content functions are pretty weird.
    * Instead of get_random_user_id(), can we require the user to be specified via a required parameter, please?
    * For get_random_

[2018-02-15 15:01] renatonascalves commented on #59
I see we are making use of it in some commands outside of the `generate` command. I'll remove them for required values/parameters. On the `generate` commands, I'd like to keep to create more randomness.

[2018-02-15 15:03] renatonascalves commented on #59
I didn't know the random method existed. We'll use it, indeed. :)

[2018-02-15 15:05] renatonascalves commented on #59
This will be removed and added in its proper command.

[2018-02-15 15:06] renatonascalves commented on #59
I'm good with the other suggestions.

A note about number 6, I tried to create a debate on #36 but got no feedback.

[2018-02-15 19:57] paulgibbs commented on #59
Great, we shouldn't use the random functions for anything other than generate commands.

I am, however, very not keen not keen on the ID of picking user IDs, at random, to use to assign bits of data to a user. At best, someone is going to get "xxx created a group" (or whatever) messages in the activity stream that they didn't trigger and worry they've been hacked, and at worse, it's the sort of we

[2018-02-15 20:01] paulgibbs commented on #36
Let's do this. Easier to do it before BP merge (or at least, before we ship BP 3.0).

Had you any specific thoughts on this, or shall I put up a PR and see what you think?

[2018-02-15 23:28] renatonascalves commented on #36
Good for me. :)

[2018-02-16 10:07] paulgibbs commented on #36
The psr4 discussion is interesting but I think it would be weird to have two different conventions within the codebase. Especially as I don’t think we can retro-fit namespaces to the existing files (code and function) without breaking everything.

[2018-02-16 10:08] paulgibbs commented on #36
Like if we add a new class to other bits of the codebase, does that use psr4 or WordPress stabdards?

[2018-02-16 10:09] paulgibbs commented on #36
I suppose having contiguous blocks of code , like the CLI stuff here, having a different standard is ok. Mixing small bits together is an issue worth pondering.

[2018-02-16 14:28] renatonascalves commented on #36
Indeed! As far as I know, at first the idea was to introduce PSR4 to the code base via this project. Would possibly be a first step to, in the long run, migrate the current codebase to it.

[2018-02-26 13:36] paulgibbs commented on #59
Just the TODOs and the get_components_and_actions() thing to resolve now.

[2018-03-03 21:17] paulgibbs commented on #59
`bp_activity_get_actions()` should be an adequate replacement for the current `get_components_and_actions()`, I think.

Next week I'll try again to get the BP CLI extension installed on my laptop (wouldn't work last time I tried, probably did something wrong).

[2018-03-03 21:18] paulgibbs commented on #59
Can I leave it to you @renatonascalves to sort out the TODOs one way or another? If they are future improvements, we should document them as (eventually a Trac ticket) and remove the actual TODOs from the code, but if they are things that need doing now, or represent bugs, we should get them fixed now.

[2018-03-05 13:03] paulgibbs commented on #59
For the TODO in get_random_login(), how about using `wp_generate_password(12, false)`?

[2018-03-05 14:48] renatonascalves commented on #59
@paulgibbs Sure! `wp_rand` or something like that might work as well.

[2018-03-06 18:53] #36 closed

[2018-03-06 19:15] #42 closed

[2018-03-06 19:16] renatonascalves commented on #59
@paulgibbs Anything else here to do?

[2018-03-07 10:23] paulgibbs commented on #59
To save you time, let me send a PR for renaming the class files to match the other files in BuddyPress. Then you can put them into BuddyPress. :)

Aim to get the WP-CLI commands in and working with the first commit, then later we can migrate the Behat tests in. (I want to be able to use Behat in BuddyPress for other things in the future, so we probably need to check whatever configuration we have

[2018-03-07 10:26] renatonascalves commented on #59
@paulgibbs Great! :)

[2018-03-07 10:26] paulgibbs commented on #59
We could consider only loading the WP-CLI commands if a minimum version of PHP is met (e.g. 7.1, maybe), to encourage to people to upgrade if they're behind. BP Core needs to retain 5.4 minimum, but new big features don't have to.

Assuming you still want these commands merged to BuddyPress - what's your long-term plan for this repo? Keep it? Sync it?

[2018-03-07 10:35] renatonascalves commented on #59
I like the PHP requirement. I also think people using cli are more tech aware and are running new versions of PHP anyway.

And yes, I think these commands in core would be great. I personally I don't think it will increase its usage, but it is a vote of confidence for its long-term future.

This repo could be kept here. I don't any downside to that.

[2018-03-07 10:39] paulgibbs commented on #59
Where would you prefer to see new issues/bugs being reported? BP Trac? Github?

How would you prefer to keep the code in sync? Would development of new features happen here, or in BP Core? How to keep the files in sync?

If we add to BP, then what's the benefit to it being available standalone (I noticed this project is listed on the wp-cli website / community commands page).

[2018-03-07 10:46] renatonascalves commented on #59
I like git, so here. But I don't mind being reported on Trac.

No idea of how to sync except manually. New features would be developed locally and if on Trac, sent as patch. Or via a repo here on github.

None. The package requires BP to work, so I don't see how useful it is as a standalone package.

The previous package is https://github.com/boonebgorges/wp-cli-buddypress which is being redirecte

[2018-03-07 10:52] paulgibbs commented on #59
My initial preference is to turn off Issues on this Github, and use Trac for CLI reports.
Every time a version is tagged here, we could (manually, for now) copy across the files into BP trunk.
Behat would be harder to resolve like this, but not impossible.

@boonebgorges what's your thoughts on this?

(This also sounds like we'd have to keep the files in BP in `/src/cli/` etc otherwise we would ne

[2018-03-07 10:57] boonebgorges commented on #59
If we're moving issues to Trac, then I think we should move code management to SVN too. Otherwise we create confusion and also lose some of the linking between tickets and changesets (like automatic ticket closing from commit messages). Moving to SVN also means we don't have to worry about build scripts and the like.

IMO the only reason to keep it here (other than the fact that SVN is a pain) is

[2018-03-08 00:38] renatonascalves commented on #59
That happens to be true. So far, being on Github haven't helped to foster contributions.

@paulgibbs It's up to you. :)

[2018-03-11 12:25] paulgibbs commented on #59
It's your project, friend, not mine. :)

I would like BuddyPress to experiment with Github and/or Git at some stage, but I'm not sure this project is a good fit. Then again, I'm not sure what would be.

Don't worry about the tooling. We're overdue for making that better.

I'm only concerned that having issues on Trac + Github would be very confusing for users, and hard for us to manage.
In terms o

[2018-03-12 09:54] paulgibbs commented on #59
(Could use Composer to pull it in, for example).

[2018-03-19 19:25] renatonascalves commented on #59
@paulgibbs

We already work on a branch-feature system. So you could "pull" the code from master at every point version of BuddyPress. Unless there is some important update beforehand.

[2018-03-19 19:27] renatonascalves commented on #59
Also, I don't have a high preference here. If it is going to be here or Trac, for me, will not affect much. So that's why I'm leaving the decision to you or other dev that finds some possible problem in leaving here or there on Trac.

[2018-03-22 02:15] boonebgorges commented on #59
I spent some time sketching what a core merge might look like. Here's a possible way of doing it: https://github.com/boonebgorges/BuddyPress/pull/1

There are many limitations to this. A few that come to mind:
- The naming conventions and namespace choices in the current package are not entirely consistent internally (shouldn't items in the `Command` namespace be in a `command` subdirectory? Why c

[2018-03-22 18:35] renatonascalves commented on #39
@boonebgorges If you could, leave here your two cents of how important or useful such commands would be for the wp cli.

I'll see how to implement this. :)

[2018-03-22 20:43] boonebgorges commented on #39
Yeah, I think it's very important and useful.

We shoud combine with efforts toward GDPR compliance https://buddypress.trac.wordpress.org/ticket/7698 and make this a focus for BP 3.1. cc @paulgibbs

[2018-03-31 12:03] paulgibbs commented on #59
Ok.

@renatonascalves please tag a version, so I can use that in the BP build script, rather than rely on master.

[2018-03-31 13:24] renatonascalves commented on #59
I will @paulgibbs :)

[2018-04-02 22:01] paulgibbs commented on #59
Can you ping me when it's done? I need it before this Wednesday if it all possible.

[2018-04-03 10:50] paulgibbs commented on #59
@renatonascalves Actually, as this is your work, do you want to commit https://github.com/boonebgorges/BuddyPress/commit/bf561b062aa920b22773c11f16b3ab6ae8a26a01 and https://github.com/boonebgorges/BuddyPress/commit/36c12caec1aa6fb6fab165437fde948e9ed8c611 to BuddyPress trunk?

Remember to change the `svn export` command when you've tagged a new version of wp-cli-buddypress.

[2018-04-04 13:27] paulgibbs commented on #59
@renatonascalves The repo here also requires a copyright statement and license.

[2018-04-10 16:01] modelm opened #64 "Missing subcommands"
I'm using:

PHP 7.2.4
WP-CLI 1.5.0
BuddyPress 2.9.3
WordPress 4.9.2

I installed this package like this:

`wp package install buddypress/wp-cli-buddypress`

When I try to use a command that consists of more than two words e.g. `bp group member` I get an error:

`Error: 'member' is not a registered subcommand of 'bp group'. See 'wp help bp group' for available subcommands.`

I noticed that all thre

[2018-04-15 23:46] renatonascalves commented on #64
In all fairness, this is not a bug in wp-cli-buddpress per se. I had this problem too in my local development but not on sites/server I installed the package to.

So my guess would be this is an environment bug with wp-cli instead of the package itself. I've found several similar cases with other packages and its commands but so far I don't have a possible explanation to why this is happening.

[2018-04-16 00:10] renatonascalves commented on #59
License added! Not sure about the copyright statement. :/

[2018-05-24 12:26] #64 closed

[2018-05-27 18:32] renatonascalves opened #66 "Active/Inactive Components"
I noticed there is a bug in the `wp bp component list` command. The components are not returning correctly.

I'm adding this ticket so that I don't forget to fix it soon.

[2018-06-02 13:27] renatonascalves commented on #66
Related: https://buddypress.trac.wordpress.org/ticket/7887

[2018-06-02 13:29] renatonascalves commented on #66
Add this feature request as well: https://buddypress.trac.wordpress.org/ticket/7888

[2018-06-02 13:34] renatonascalves commented on #66
Fix this as well: https://buddypress.trac.wordpress.org/ticket/7890

[2018-06-02 14:06] renatonascalves opened #67 "Update top level commands"
Add a custom `bp` command.

https://buddypress.trac.wordpress.org/ticket/7885

[2018-06-02 14:33] #67 closed

[2018-06-02 16:08] renatonascalves commented on #66
Issued raised here fixed here: https://github.com/buddypress/wp-cli-buddypress/commit/371c330f31ac6eb08be63c4d875d1ac2f16633d3

[2018-06-02 16:08] #66 closed

[2018-06-14 15:03] modelm opened #68 "Feature request: scaffold buddypress-specific test code"
As a plugin developer I rely on `wp scaffold plugin-tests` a lot. I often end up customizing the scaffolded code to load BP along with WP for BP_UnitTestCase extensions. It would be great if I could scaffold a BP-specific test framework with a single command.

If you're willing to include this feature I'd like to help build it, but I wanted to ask in case it already exists or isn't something you t

[2018-06-14 15:35] renatonascalves commented on #68
@boonebgorges What do you think? I have no objections against it. Do you see any drawback?

[2018-06-14 15:36] boonebgorges commented on #68
Yup, would be great!

[2018-06-14 15:38] renatonascalves commented on #68
@modelm Go ahead and send us a PR. I'll help as much as I can. :)

[2018-07-25 15:52] renatonascalves opened #69 "Notification Commands"
https://buddypress.org/support/topic/deleting-records-in-wp_bp_notifications/

Here is a good scenario where the notification commands could be useful. I think I missed creating them. Let's do it.

[2018-08-31 14:34] #69 closed

[2018-10-29 21:24] Octopixell opened #71 "Class not found while generating users"
Hi All,

I'm not sure if this is the right place to report this issue. If not, my humble apologies 😅 I'd happily repost it elsewhere 😃

When running the command `wp bp member generate --count=1` I receive the following error with stacktrace:

[code]

Other commands like `wp bp group generate --count=1` seem to be working just fine.

The stacktrace from above is from a server installed with Serverp

[2018-10-29 21:43] renatonascalves commented on #71
I'll put a patch together later tonight! @Octopixell Thanks for reporting this. :)

[2018-10-29 21:45] Octopixell commented on #71
You're a gentleman and a scholar! Thanks for the quick reply 😉 happy I found the right repo 😛

[2018-11-05 12:58] Octopixell commented on #71
Are there any updates on this @renatonascalves? Thanks for taking a look 👍

[2018-11-16 21:57] modelm commented on #68
I implemented a first pass at this a while back: https://github.com/buddypress/wp-cli-buddypress/compare/master...modelm:feature-test-scaffold

Unfortunately I discovered the functions used by `WP_CLI\Scaffold_Command` to create, write, and validate files are all static private methods, so I could not call them directly to edit the files & add BP-specific code.

Instead, I create two new files, `i

[2018-11-19 12:01] renatonascalves commented on #68
@modelm

I went to the CLI guys for feedback on your first strategy. My goal was to find out possible drawbacks in changing the methods to `protected` to accomodate our use case: https://wordpress.slack.com/archives/C02RP4T41/p1542408188299200

Alain hit me back with a good use case of not doing that. Here is his feedback: https://wordpress.slack.com/archives/C02RP4T41/p1542451701305700

For now,

[2019-03-04 12:03] renatonascalves commented on #71
@Octopixell not yet! I will take a look at it very soon!

[2019-03-27 14:37] boonebgorges opened #74 "Metadata commands"
Would be great to have metadata commands: `wp bp group meta update` etc.

[2019-04-26 10:54] axettone opened #75 "Fatal error: Cannot declare class Buddypress\CLI\Command\BuddypressCommand"
Happens when I launch
`wp bp --allow-root`

The problem does not appear when not using "--allow-root".

On:
WP: 5.1.1
BP: 4.3.0

[2019-08-01 20:17] renatonascalves commented on #71
@Octopixell This was fixed thanks to @dcavins :)

[2019-08-01 20:17] #71 closed

[2020-05-17 21:55] renatonascalves commented on #75
@axettone Are you still facing this issue?

[2020-05-17 21:59] renatonascalves commented on #74
@boonebgorges I'm considering working on this feature. Is the meta update the only command to add?

Also, could you share what types of meta one would usually update? Don't want to overboard.

[2020-05-18 10:22] axettone commented on #75
No! Now it works!
Thank you!

[2020-05-18 14:19] renatonascalves commented on #75
Awesome! Feel free to reopen this issue if the issue come up again. :)

[2020-05-18 14:19] #75 closed

[2020-05-18 15:21] boonebgorges commented on #74
It would be nice to mirror WP-CLI's meta commands:
[code]

I wonder if there's a way we can extend `CommandWithMeta`. See `wp comment meta` https://github.com/wp-cli/entity-command/blob/master/src/Comment_Meta_Command.php and the base class https://github.com/wp-cli/entity-command/blob/master/src/WP_CLI/CommandWithMeta.php

[2020-05-18 15:43] renatonascalves commented on #74
Interesting! Will take a look soon!

[2020-05-21 00:04] renatonascalves commented on #74
Closing this as since the command is being added and documented on #76

[2020-05-21 00:04] #74 closed

[2020-06-01 21:13] boonebgorges commented on #39
An update on this.

BP now has some GDPR-compliance tools built in. The focus of these tools is to provide individuals with human-readable versions of all the content that a site has stored about them. You might call this "export" in a manner of speaking, but I think it's more accurate to say that it's a "data report" or something like that.

True "export" would be to a structured format, which wo

[2020-06-02 01:42] renatonascalves commented on #39
Understood!

What I'm reading is that: this is nice to have but the amount of work necessary to get it done is not worth it. Mainly due to the specifics of each platform and the way the information is connected.

Without counting singular examples from you:

* what's the demmand for it?
* how are people migrating from other platforms to BuddyPress today?
* what would be the most desired platform t

[2020-06-02 14:43] boonebgorges commented on #39
I think that's probably right.

In an ideal world, there'd be some base functionality for this built into BP. This could then power a GUI as well as the CLI. But I agree that it should not be CLI-only, or even necessarily CLI-first (though it's much easier to build this sort of thing for the CLI!).

I don't have data to answer your (very good and appropriate) questions. I agree with your general i

[2020-06-02 14:44] boonebgorges commented on #39
For the purposes of this ticket, I think it's fine to close as "maybe later", with the understanding that it's more of a broad question for BP, not specific for the CLI.

[2020-06-03 01:41] renatonascalves commented on #39
Thank you for your feedback.

This seems a big undertaking, important, but big nevertheless. I also don't see actual immediate benefits to BuddyPress, the one mentioned is more wishful than actually beneficial.

Closing as suggested, `maybe later`. When we have more demand, use cases and more resources to put this into motion until the finish line.

:)

[2020-06-03 01:41] #39 closed

[2020-06-03 01:44] boonebgorges commented on #39
Being a good web citizen, and enforcing user rights, is never "wishful" - it's a natural part of the GPL philosophy. But I agree that it's not something that our users are clamoring for, and in this sense it's fair to say that the benefit is *indirect* :-D

[2020-06-03 01:44] renatonascalves commented on #68
FYI, I have an almost done PoC based on @modelm 's version. Sending a PR soon.

[2020-06-03 02:47] renatonascalves commented on #39
Totally agree! Sorry if my tone sounded like it was not important.

[2020-06-29 03:45] 4nh51rk opened #82 "Small Typo in readme.md on Line 12"
Hi Team Buddypress

There is small typo in readme.md
12: The ~~`wp-bli-buddypress`~~  `wp-cli-buddypress` comes installed

Regards
Hari Krishna

[2020-06-29 11:06] renatonascalves commented on #82
Tks! Fixed!

[2020-06-29 11:06] #82 closed

[2020-08-07 21:13] r-a-y opened #85 "Activity Meta"
Was just needing to look at some activity meta and realized we don't have a subcommand like `wp bp activity meta`.

I'll look into adding a PR for this, but if anyone can get to it sooner, that'd be awesome!

[2020-08-07 22:43] renatonascalves commented on #85
It is on my mental list but a PR would be welcomed. Will try to see if I can come up with something this weekend.

[2020-08-11 03:21] #85 closed

[2020-09-07 18:18] #68 closed

[2021-02-25 03:04] imath opened #87 "Scaffold command not found"
Hi @renatonascalves could you have a look to this https://buddypress.org/support/topic/buddypress-7-2-0/#post-317390 ?

Thanks 😊

[2021-02-25 03:23] contemplate commented on #87
It's happening on at least two different client sites on different servers.  Both use the Kleo theme.
We started seeing it on Feb. 16th.

[2021-02-25 12:36] renatonascalves commented on #87
Interesting! Will be taking a look as soon as possible.

[2021-03-01 13:58] VivekShingala commented on #87
Hi @renatonascalves / @imath

I am also facing this issue on one of the sites. The error message logs a daily basis at a fixed time (3 AM UTC in my case). Could you please suggest if that is the part of any scheduler which runs daily?

[code]

[2021-03-01 14:15] renatonascalves commented on #87
The BP CLI doesn't add any scheduler. It is likely another scheduler trying to run and catching this error.

[2021-03-02 19:06] VivekShingala commented on #87
Hi @renatonascalves

how do we fix class not found error for Scaffold_Command? Did you resolve that already?

[2021-03-02 19:44] renatonascalves commented on #87
It is on my to do list! :)

[2021-03-03 14:06] contemplate commented on #87
Curious @renatonascalves  would this error at all mess up permalinks in Wordpress?  One of the sites started having periodic permalink errors causing 404s around the same time we upgraded to the latest Buddypress.  However other sites ( that also have this error ) are not having this issue.

[2021-03-04 00:41] VivekShingala commented on #87
Yes, we are also facing the same issue related to permalink errors which leads to 404 pages.

[2021-03-14 01:09] #87 closed

[2021-03-14 01:09] renatonascalves commented on #87
^ This is a fix for this issue!

There are scenarios that I didn't anticipate where the Scaffold package is not installed. Since we rely on a class from it for our custom scaffold command, you guys are getting that error when it is not available.

Based on the feedback gathered so far, it appears that when any command is being, one gets the `Class 'Scaffold_Command' not found in`. And that's consi

[2021-03-14 22:00] renatonascalves opened #90 "Move CI from Travis to Github Actions"
as titled.

[2021-03-14 22:01] renatonascalves opened #91 "CI Test against the PHP 8.0"
as titled.

It can fail in the CI and it should not block the merge of pull requests unless there is no issue. =P

[2021-03-14 22:04] renatonascalves opened #92 "Update CI Matrix"
as titled.

Ideally, the CI matrix would test the same as BuddyPress, since the BP-REST and the WP GraphQL BuddyPress projects are trying to follow that.

[2021-03-21 12:11] #90 closed

[2021-03-21 12:11] #91 closed

[2021-03-21 12:11] #92 closed

[2021-03-22 09:21] bsoryn commented on #87
Hello gent's,

What is the fix in this case?
Below is my log if it helps in any way:

[22-Mar-2021 06:31:36 UTC] PHP Fatal error:  Uncaught Error: Class 'Scaffold_Command' not found in /wp-content/plugins/buddypress/cli/src/scaffold.php:19
Stack trace:
#0 /wp-content/plugins/buddypress/cli/wp-cli-bp.php(38): require_once()
#1 /usr/local/cpanel/3rdparty/wp-toolkit/plib/vendor/wp-cli/vendor/wp-cli/w

[2021-03-22 09:56] renatonascalves commented on #87
Right now, wait for the patch to be bundled with the next version of BuddyPress or install it directly (if you like to live dangeously): https://github.com/buddypress/wp-cli-buddypress#installing

[2021-04-09 10:23] saintclaire commented on #87
When will it be available (the patch to be bundled with the next version of BuddyPress) @renatonascalves  Please?

[2021-04-09 13:38] renatonascalves commented on #87
Based on the schedule: https://bpdevel.wordpress.com/2021/04/05/bp-dev-chat-summary-march-31-2021/

- 8.0.0-beta1: April 22
- 8.0.0 stable release: May 26.

[2021-04-12 06:14] imath commented on #87
@renatonascalves could you update the BuddyPress Gruntfile.js to use the 2.0.1 tag from now on both trunk and 7.0 branch? I believe we should make this fix available earlier than in 8.0.0, eg: in our next minor release https://buddypress.trac.wordpress.org/milestone/7.3.0

Thanks in advance 😍